﻿@model AluguelFilmeModel
@{
    ViewData["title"] = "Editar Filme"; // muda o titulo da pagina
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Editar Filme</h1>
    </div>
    <form method="post" asp-controller="Filme" asp-action="Editar">
        <div class="form-group">
            <label for="Titulo" class="text-light">Titulo</label>
            <input type="text" class="form-control" asp-for="Titulo" id="Titulo" aria-describedby="emailHelp" placeholder="Titulo do filme" />
            <span class="text-danger" asp-validation-for="Titulo"></span>
        </div>
        <div class="form-group">
            <label for="Produto" class="text-light">Produtora</label>
            <input type="text" class="form-control" asp-for="Produtora" id="Produtora" aria-describedby="emailHelp" placeholder="Produtora" />
            <span class="text-danger" asp-validation-for="Produtora"></span>
        </div>
        <div class="form-group">
            <label for="Descricao" class="text-light">Descricao</label>
            <input type="text" class="form-control" asp-for="Descricao" id="Descricao" aria-describedby="emailHelp" placeholder="Descricao" />
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>
        <div class="form-group">
            <label for="Estreia" class="text-light">Estreia</label>
            <input type="text" class="form-control" asp-for="Estreia" id="Estreia" aria-describedby="emailHelp" placeholder="Qual é o Estreia?" />
            <span class="text-danger" asp-validation-for="Estreia"></span>
        </div>
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Enviar</button>
            <a class="btn btn-primary w-50" asp-controller="Filme" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
